@import "fonts.scss";
@import "viewPortBreakpoints.scss";
@import "components/preview-oval.scss";
@import "components/navbar";
@import "components/process";
@import "components/products";
@import "components/socials";
@import "components/footer";
@import "components/header";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}

html {
  overflow-x: hidden;
}

body{
  overflow: hidden;
  overflow-y: auto;
  font-family: $font_regular;

}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span, a, p {
  color: #5A1404;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 10px;

  @media screen and (min-width: $desktop) {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

}

////////////////////////////////////////header

////////////////////////////////////////header

////////////////main-pic
.main-picture {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(150vw/2);

  &__button {
    position: absolute;
    background: #E63000;
    border-radius: 29px;
    border: 7px solid #EDEDED;
    padding: 7px 33px;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 4;
    color: white;
    bottom: -24%;
  }

  &__content {
    bottom: -20%;
  }

  @media screen and (min-width: $desktop) {
    height: calc(90vw/2);

    &__button {
      bottom: -21%;
      font-size: 16px;
      padding: 15px 60px;
    }
  }
}
////////////////main-pic


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  z-index: 1010;
  background-color: white;

  .close-button {
    border: none;
    background: #E30613;
    padding: 10px 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }

  .exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    span {
      display: block;
      transition: .5s all;
      position: relative;
      width: 23px;
      height: 3px;
      margin-bottom: 4px;
      background-color: #5B1A0D;
      border-radius: 2px;

      &:first-child {
        top: 7px;
        transform: rotate(45deg);
        transition: .5s all;
      }

      &:last-child {
        top: 0px;
        transform: rotate(-45deg);
        transition: .5s all;
      }
    }
  }
}

.modal.closed {
  display: none;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: rgba(0,0,0, .2);
  height: 100%;

  &.closed {
    display: none;
  }
}
